/* IMPOSTAZIONI GENERALI */
body {
    background-image: url(../img/sfondo.png);
    font-family: 'Poppins', sans-serif;  
}
/* HEADER */

#logo {
    width: 400px;
    padding-top: 1em;
    height: 5em;
}


#header {
    margin-left: 3.8 em;
    width: 80%;
}

header {
    background-image: linear-gradient(rgb(34, 102, 181) 0% , rgb(15, 76, 150));
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 300px;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 4em;
    box-shadow: 0 3px 3px lightgrey;
    color: white;
    

}

nav {
    margin-top: 30px;
}

header nav li {
    list-style: none;
    color: white;
    text-decoration: none;
} 

header nav li a {
    text-decoration: none;
    color: white;
}

header nav ul {
    margin: 0;
}

.logo {
    margin-bottom: 3em;
}

h1{
    text-align: center;
    font-weight: 900;
}

a.menu-1:hover {
    color: firebrick;
}

a.menu-2:hover {
    color: yellow;
}

a.menu-3:hover {
    color: orangered;
}

/* MAIN */

main{
    padding: 2em;
    background-color: white;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 3em;
}


/* ELEMENTI NEL MAIN - ARTICLE */

main h1 {
    font-weight: bold;
    font-size: 2em;
}

.create {
    padding: 1em 0.3em 1em 0.3em;
}


.rossi {
    color: rgb(185, 185, 185);
}

main ul, ol {
    margin-left: 2em;
    padding: 1em;
}

main li {
    padding: 1em;
    line-height: 1em;
}

.format {
    padding: 1em 1em 1em 0em;
}

strong {
    font-weight: bold;
    color: #a02571;
}

code {
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 5px;

}

iframe {
    height: 50px;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 2em;
    padding: 1em 1em 1em 0;
}

#iframe {
    height: 12em;
}


.tool {
    color: aqua;
}

/* TABELLE */

table {
    margin-bottom: 2em;
}


caption {
     font-weight: bold;
     font-style: italic;
     padding: 1em;
}

thead tr {
    background-color: #3f6bca;
    color: #fff;
}

th,td {
    padding: 12px 15px;
    vertical-align: bottom;
    text-align: center;
}

tbody tr {
    border-bottom: 1px solid #ddd ;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;

}

tbody tr:last-of-type {
    border-bottom: 2px solid #3f6bca;
}

th {
    font-weight: bold;
}

/* FORM */
section {
    background-color: lightgray;
    padding: 2em;
}

section h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
}

input {
    padding: 5px;
    border: 0;
    border-bottom: 1px dashed #333;
}

.button {
    padding:4px 7px;
    background-color: rgb(24, 97, 160);
    color: white;
    border: 0;
    font-weight: bold;
}

fieldset {
    padding: 0.5em;
}

/* ELEMENTI NELL' ASIDE */

aside h2 {
    text-align: center;
    color: rgb(57, 56, 56);
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

aside div {
    background-color: #e3e3e3;
    border: 1px solid #c3c3c3;
    margin-bottom: 1em;
    padding: 1em;
}

aside div p:last-child {
    margin-bottom: 0;
    font-size: 0.8em;
    text-align: right;
}

.correlato {
    padding: 1em 0.3em 1em 0.3em;
    font-weight: 500;
}

/* FOOTER */

footer {
    background: rgb(53, 53, 53);
    background: linear-gradient(0deg rgba(53, 53, 53, 1) 0%, rgb(2, 45, 63) 50%);
    box-shadow: 0 3px 3px #333;
    text-align: center;
    color: white;
}

footer a {
    color: fuchsia;
}

footer p {
    padding-top: 1em;
    padding-bottom: 1em
}

.blog {
    padding: 0.3em;
}

#p-footer-1 {
    padding: 0;
}
#p-footer-2 {
    padding: 0;
}
